body {
  background-color: black;
}

.allVisibleText {
  color: #fff;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}

button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
}

.topBar {
  width: 85%;
  margin: 0 auto;
  margin-top: 1rem;
  height: 2.5rem;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-color: silver;
  border-width: 3px;
  border-bottom-width: 0;
}

.roomStuff {
  position: absolute;
  margin-top: 0.25rem;
  margin-left: 5%;
}

.roomStuff > input {
  width: 15rem;
  background-color: rgba(128, 128, 128, 0.5);
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-width: 2px;
  border-color: black;
  color:white;
}

.roomStuff > button {
  background-color: skyblue;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 100%;
  font-weight: bold;
  padding-right: 3px;
  padding-left: 2px;
}

.songView {
  margin-left: 70%;
  background-color: rgba(0, 255, 0, 0.5);
  border-top-right-radius: 1rem;
  height: 100%;
  text-align: center;
  box-sizing: border-box;
  padding:5px;
}

.loadingMsgBar {
  position: fixed;
  float: left;
  top: 85%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.loadingMsg {
  color: white;
  margin-left: 5%;
  font-size: xx-large;
  display: inline-block;
}

.loadingText {
  line-height: 50px;
  margin-top: 50px;
}

.playerRow {
  background-color: rgb(34,30,67);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: fit-content;
  padding: 0.7rem;
  padding-bottom: 1.05rem;
  border-radius: 0.5rem;
  border-color: silver;
  border-width: 3px;
  border-top-right-radius: 0px;
}

.playerBox {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 12rem;
  width: 9rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-color: silver;
  border-width: 3px;
  border-radius: 10px;
  margin-bottom: 0.55rem;
  margin-top: 0.55rem;
}

.playerImage {
  position: block;
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
  margin-top: 25%;
  margin-left: 5%;
}

.playerBoxUsername {
  height: 15%;
  color: white;
  position: absolute;
  border-top-color: silver;
  border-top-width: 3px;
  width: 100%;
  bottom: 0;
}

.playerBoxUsername > a {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.messageBox {
  margin-top: 1rem;
  width: 45.7rem;
  border-color: lightskyblue;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-width: 3px;
  border-radius: 0.5rem;
  background-color: lightskyblue;
}

.messageList {
  color: white;
  height: 10rem;
  background-color: rgba(0, 0, 139, 0.8);
  border-bottom-color: lightskyblue;
  border-bottom-width: 3px;
  border-radius: 5px;
  overflow-y: scroll;
}

.messageInput {
  position: inline-block;
  color: white;
  background-color: rgba(0, 0, 139, 0.8);
  padding-left: 0.5rem;
  width: 90%;
  border-radius: 5px;
}

.shoutButton {
  position: inline-block;
  max-width: 100%;
  background-color: rgba(0, 0, 139, 0.8);
  color: white;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.teamSelectBox {
  width: 13.5rem;
  background-color: rgb(34,30,67);
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
  border-color: silver;
  border-width: 3px;
  border-left-width: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-align: center;
  margin-left: -3px;
}

.teamSelectBox > span {
  width: 100%;
  color: white;
  font-size: xx-large;
  font-weight: bolder;
}

.teamSelectButton {
  background-color: rgba(135, 206, 235, 0.8);
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
}

.teamSelectButton > button {
  font-size: x-large;
  text-align: center;
  font-weight: bolder;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  width: 2rem;
  height: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.startButton {
  background-color: skyblue;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: xx-large;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.speedSelectBox {
  margin-top: 1rem;
  background-color: rgb(34,30,67);
  border-color: silver;
  border-radius: 0.5rem;
  border-width: 3px;
  margin-left: 0.5rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.speedIndicator {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  background-color: grey;
  font-size: x-large;
  font-weight: bolder;
  display: inline-block;
  padding-top: 9px;
  padding-bottom: 3px;
  margin-bottom: 0.7rem;
}

.speedSelectBoxButton {
  display: inline-block;
  font-weight: bolder;
  font-size: xx-large;
  background-color: grey;
  color: white;
}

.leftButton {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.rightButton {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.musicSelectBox {
  margin-top: 1rem;
  background-color: rgb(34,30,67);
  border-color: silver;
  border-radius: 0.5rem;
  border-width: 3px;
  margin-left: 0.5rem;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.selectMusicButton {
  font-weight: bolder;
  font-size: x-large;
  background-color: skyblue;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  padding-left: 5px;
  padding-right: 5px;
  margin-right: 5px;
  padding-bottom: 0.25rem;
}

.songSelectModal {
  width: 55rem;
  height: 30rem;
  background-color: rgba(135, 206, 250, 0.95);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
}

.genreList {
  width: fit-content;
  background: rgb(0,56,184);
  background: linear-gradient(90deg, rgba(0,56,184,0.6923144257703081) 0%, rgba(29,179,241,0.8379726890756303) 31%, rgba(0,56,184,0.7343312324929971) 78%);
  border-width: 2px;
  border-color: black;
  border-radius: 0.3rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

.genreList > li {
  border-color: rgba(0, 0, 0, 0.3);
  font-size: x-large;
  font-weight: bolder;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-left: 5px;
  padding-right: 5px;
}